// h2{ color: lawngreen; font-size: map-get($color,fontsize ); float: left; width: 100%;}
h3{ color: lightcoral;font-size: map-get($color,fontsize ); float: left; width: 100%;}
h4{ color: lightseagreen;font-size: map-get($color,fontsize ); float: left;width: 100%;}